@model Candy

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.ImageURL" alt="@Model.Name" />

        <div class="figure-caption">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>