<div class="row carousel-holder">
    <div class="col-md12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide="1"></li>
                <li data-target="#carousel-example-generic" data-slide="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="~/Images/carousel1.jpg" alt="Slide"/>
                </div>
                <div class="item active">
                    <img class="slide-image" src="~/Images/carousel2.jpg" alt="Slide"/>
                </div>
                <div class="item active">
                    <img class="slide-image" src="~/Images/carousel3.jpg" alt="Slide"/>
                </div>
            </div>

        </div>
    </div>
</div>